dir				= .
oid_section		= new_oids

[ new_oids ]

[ ca ]
default_ca				= CA_default		# The default ca section

[ CA_default ]
certs					= . 
crl_dir					= . 
database				= index.txt
new_certs_dir			= . 
serial					= serial 			# The current serial number

x509_extensions			= usr_ext		# The extentions to add to the cert
default_days			= 3650			# how long to certify for
default_crl_days		= 30			# how long before next CRL
default_md				= sha256			# which md to use.
certificate				= ocspcaone_cert.pem
private_key				= ocspcaone_key.pem
policy					= usr_policy


[ usr_policy ]
stateOrProvinceName		=	supplied
countryName				=	supplied
commonName				=	supplied
emailAddress			=	supplied
organizationName		=	supplied


[ req ]
default_bits			=	2048
x509_extensions			=	usr_ext
distinguished_name		=	req_distinguished_name
policy					= 	usr_policy


[ usr_ext ]
nsCertType				= server 
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid,issuer:always
authorityInfoAccess 	= OCSP;URI:http://172.16.20.1/responderpath




[ req_distinguished_name ]
stateOrProvinceName		=	CA
countryName				=	IN
emailAddress			=	imca@123.com
organizationalUnitName	=	CITRIX-INDIA HULSUR MGROAD PRESTIGE DYNASTY 
commonName				=  	THIS IS	A TEST CERTIFICATE FOR TESTING BIG CERTIFICATES 
localityName			=	Near French Loaf
